<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/nationalityResult.css">
    <link rel="icon" href="/NationalityLogo.png" type="image/png" sizes="32x32">
    <title>NationalityResult</title>
</head>
<body>
    <div class="container">
        <h2 th:text="'Results: ' + ${nationality.name()}"></h2>
        <div th:unless="${nationality.countries().isEmpty()}">
            <ul th:each="country : ${nationality.countries()}">
                <li th:text="'Country: ' + ${country.countryId()} + ', Probability: ' + ${country.probability()}">
                    Country Probability
                </li>
            </ul

        </div>

        <div th:if="${nationality.countries().isEmpty()}">
            <p>No data found</p>
        </div>
        <a href="/">Try another name</a>
    </div>
</body>
</html>